html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 22px;
  font-family: Roboto, Arial, sans-serif;
  color: #323232;
}

.inner-page {
  background-color: #849d8f;
}

input[name="toggle"] {
  display: none;
}

.site-wrapper {
  background-image: url("../img/background-slider2.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/background-slider1.png")
}

.site-wrapper::after {
  background-image: url("../img/background-slider3.png")
}

.content-wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.clearfix::after,
.clearfix::before {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  position: relative;

  margin-right: 2.3%;
  margin-left: 2.3%;
}

.logo {
  float: left;
  width: 160;
  margin-right: 9px;
  padding-top: 9px;
}

.main-menu {
  float: left;
  width: 390px;
  margin-top: 22px;
}

.main-menu ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu li {
  display: inline-block;

  vertical-align: top;
}

.main-menu a,
.main-menu-active {
  display: block;
  margin-right: -4px;
  padding: 8px 14px;

  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  font-family: Roboto, Arial, sans-serif;
  color: #ffffff;

  border-radius: 20px;

  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.main-menu a:hover {
  color: #323232;

  background-color: #f7f6f3;
}

.main-menu a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.main-menu-active {
  color: #ffffff;

  background-color: #d07058;
}

.list-sub-menu {
  position: relative;
}

.sub-menu,
.search-form,
.login-form {
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  opacity: 0;
  visibility: hidden;

  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.list-sub-menu:hover .sub-menu,
.sub-menu:hover,
.user-block-login:hover + .login-form,
.login-form:hover,
.user-block-search:hover + .search-form,
.search-form:hover {
  opacity: 1;
  visibility: visible;

  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.sub-menu {
  position: absolute;
  top: 87px;
  left: -6px;
  z-index: 5;

  width: 144px;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 6px;
}

.sub-menu li {
  display: block;
}

.sub-menu li:nth-of-type(2) {
  margin-top: -4px;
}

.subnav-item {
  margin-bottom: -1px;
}

.subnav-item .subnav-link {
  width: 144px;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;

  border-radius: 0;
  text-decoration: none;
}

.subnav-item:first-of-type::after {
  content: "";
  position: absolute;
  top: 39px;
  left: 7px;

  width: 128px;
  height: 1px;

  background-color: #d1d0ce;
}

.subnav-item .subnav-link {
  padding-left: 20px;
}

.subnav-item:first-of-type .subnav-link {
  margin-bottom: 3px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;

  font-weight: bold;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.subnav-item:last-of-type .subnav-link {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.subnav-item .subnav-link:hover {
  background-color: #fbded7;
}

.subnav-item .subnav-link:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.sub-menu-active {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #d07058;
}

.user-block {
  position: relative;

  float: right;
  width: 286px;
  margin-top: 23px;
  margin-bottom: 15px;
  padding-left: 23px;
  box-sizing: border-box;

  text-align: right;
}

.user-block a,
.user-block-cart,
.user-block-cart-full {
  display: inline-block;
  margin-right: 1px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  color: #ffffff;

  background-color: rgba(255, 255, 255, .2);
  border-radius: 100px;
  text-decoration: none;

  -webkit-transition-property: background-color;
          transition-property: background-color;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.user-block-search {
  min-width: 32px;
  min-height: 32px;

  background: url("../img/sprites.png") no-repeat 8px 7px;
  border-radius: 50%;
}

.user-block-search:hover {
  background: #f8f7f4 url("../img/sprites.png") no-repeat 8px -32px;
}

.search-form {
  position: absolute;
  top: 87px;
  right: 225px;
  z-index: 15;

  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-form input[type="search"],
.login-form input[type="email"],
.login-form input[type="password"],
.subscribe input[type="email"],
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  height: 42px;
  box-sizing: border-box;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.search-form input {
  width: 310px;
}

.search-form label,
.login-form label,
.login-form label,
.subscribe label,
.feedback-form label,
.feedback-form label,
.feedback-form textarea {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.search-form input[type="search"]:hover,
.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover,
.subscribe input[type="email"]:hover,
.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  border: 2px solid #999999;
}

.search-form input[type="search"]:focus,
.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus,
.subscribe input[type="email"]:focus,
.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  border: 2px solid #5b9ddf;
}

.search-form input[type="search"]:focus + label,
.login-form input[type="email"]:focus + label,
.login-form input[type="password"]:focus + label,
.subscribe input[type="email"]:focus + label,
.feedback-form input[type="text"]:focus + label,
.feedback-form input[type="email"]:focus + label,
.feedback-form textarea:focus + label {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;

  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.search-form input[type="search"]:valid:not(:focus) + label,
.login-form input[type="email"]:valid:not(:focus) + label,
.login-form input[type="password"]:valid:not(:focus) + label,
.subscribe input[type="email"]:valid:not(:focus) + label,
.feedback-form input[type="text"]:valid:not(:focus) + label,
.feedback-form input[type="email"]:valid:not(:focus) + label,
.feedback-form textarea:valid:not(:focus) + label {
  font-size: 11px;
  line-height: 13px;
  color: #999999;

  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.search-form label {
  position: absolute;
  top: 30px;
  left: 30px;
}

.user-block-login {
  position: relative;

  min-width: 32px;
  margin-left: 5px;
  padding: 8px 17px 8px 45px;
}

.user-block-login:hover {
  color: #000000;

  background-color: #f8f7f4;
}

.user-block-login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;

  background: url("../img/sprites.png") no-repeat -30px -1px;
}

.user-block-login:hover.user-block-login::before {
  background: url("../img/sprites.png") no-repeat -30px -39px;
}

.login-form {
  position: absolute;
  top: 87px;
  right: 125px;
  z-index: 10;

  padding: 20px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.login-form input {
  width: 240px;
  margin-bottom: 20px;
}

.login-form label {
  position: absolute;
  left: 30px;
}

.login-form label[for="login-email-field"] {
  top: 30px;
}

.login-form label[for="password-field"] {
  top: 92px;
}

.login-form .btn {
  padding: 10px 25px;;
}

.btn {
  display: inline-block;
  padding: 13px 26px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #fefefe;

  background-image: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: -ms-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  border-style: none;
  border-radius: 50px;
  outline: none;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, .64);
  text-decoration: none;

  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.btn:hover {
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: -ms-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: linear-gradient(top, #f58669 0%, #ec6f5e 100%);
}

.btn:active {
  background-image: -webkit-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background-image: -ms-linear-gradient(top, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(top, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0px 2px 2px 0px #942718;
}

.link-wrapper {
  float: right;
  width: 120px;
}

.link-wrapper a {
  padding: 0;
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-radius: 0;
  text-decoration: underline;

  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.link-wrapper a:hover,
.link-wrapper a:active {
  color: #e84d37;
}

.user-block-cart {
  position: relative;

  min-width: 39px;
  margin-left: 3px;
  padding: 8px 33px 8px 45px;
}

.user-block-cart-full {
  position: relative;

  min-width: 58px;
  margin-left: 1px;
  padding: 8px 15px 9px 44px;

  color: #323232;

  background-color: #ffffff;
}

.user-block-cart::before,
.user-block-cart-full::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;
}

.user-block-cart::before {
  background: url("../img/sprites.png") no-repeat -65px 0;
}

.user-block-cart-full::before {
  background: url("../img/sprites.png") no-repeat -63px -39px;
}

.shop-cart {
  position: absolute;
  top: 88px;
  right: 0;
  z-index: 5;

  width: 540px;
  padding: 15px 15px 21px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  opacity: 0;
  visibility: hidden;

  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.user-block-cart-full:hover .shop-cart {
  opacity: 1;
  visibility: visible;

  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.cart-table {
  width: 100%;

  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: #323232;

  border-collapse: collapse;
}

.cart-table td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.cart-table td:first-of-type {
  position: relative;
  width: 15px;
}

.cart-link-remove::before,
.cart-link-remove::after {
  content: "";
  position: absolute;
  top: 22px;

  width: 15px;
  height: 2px;

  background: #353535;
}

.cart-link-remove::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-link-remove::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart-table td:nth-of-type(2) {
  width: 55px;
}

.orange,
.strawberry {
  position: relative;
}

.orange::after,
.strawberry::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 12px;

  width: 33px;
  height: 33px;

  background-size: 33px;
  border-radius: 50%;
}

.orange::after {
  background-image: url("../img/catalog-item1.png");
}

.strawberry::after {
  background-image: url("../img/catalog-item3.png")
}

.cart-table td:nth-of-type(3) {
  width: 220px;
}

.cart-table td:nth-of-type(4) {
  width: 150px;
  text-align: center;
}

.light {
  opacity: .4
}

.cart-table td:last-of-type {
  width: 70px;
}

.cart-table .result {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: right;

  border-top: 1px solid #cacac7;
}

.shop-cart .btn {
  padding: 10px 15px;;

  font-size: 18px;
  line-height: 24px;
}

.working-time {
  position: absolute;
  right: 0;
  bottom: -52px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
}

.working-time b {
  display: block;
  margin-top: 4px;

  font-size: 22px;
  line-height: 24px;
}

main {
  margin-right: 2.3%;
  margin-left: 2.3%;
}

.slider {
  position: relative;

  margin-top: 313px;
  margin-bottom: 41px;
}

.slide {
  display: none;

  text-align: center;
}

.slide-title {
  width: 700px;
  margin: 0 auto 30px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.slide-btn {
  padding: 10px 41px;

  font-size: 32px;
  line-height: 44px;
  color: #ffffff;

  text-shadow: 0 2px 5px #a0200b;
}

.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

label[for^="btn-slider-"]:hover {
  background-color: rgba(255, 255, 255, .4)
}

#btn-slider-1:checked ~ .site-wrapper label[for="btn-slider-1"],
#btn-slider-2:checked ~ .site-wrapper label[for="btn-slider-2"],
#btn-slider-3:checked ~ .site-wrapper label[for="btn-slider-3"] {
  background-color: #ffffff;
}

#btn-slider-1:checked ~ .site-wrapper #slide1,
#btn-slider-2:checked ~ .site-wrapper #slide2,
#btn-slider-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-slider-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/background-slider3.png");
}

#btn-slider-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/background-slider2.png")
}

#btn-slider-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/background-slider1.png")
}

.promo-item {
  position: relative;
  width: 48.85%;
  min-height: 230px;
  padding: 16px 21px 24px 18px;
  box-sizing: border-box;

  border-radius: 15px;
}

.promo-item:first-of-type {
  float: left;
  margin-right: 2.3%;

  background: #702d39 url("../img/promo-item1.jpg") no-repeat 35% 52%;
}

.promo-item:last-of-type {
  float: right;

  background: #41271b url("../img/promo-item2.jpg") no-repeat center;
}

.promo-title {
  margin: 0;

  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.promo-text {
  margin-top: 15px;
  margin-bottom: 67px;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.promo-item .btn {
  position: absolute;
  right: 21px;
  bottom: 25px;

  padding: 9px 21px 11px;

  box-shadow: none;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  padding-top: 20px;

  font-size: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  display: inline-block;
  padding-right: 20px;

  vertical-align: top;
}

.breadcrumbs a {
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, .2);
  text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;

  border-color: rgba(255, 188, 158, .3);
}

.breadcrumbs-active a,
.breadcrumbs-active:hover a {
  color: #ffffff;

  border-bottom: 0;
}

.breadcrumbs li::before,
.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;

  width: 4px;
  height: 4px;

  color: #ffffff;

  border: 1px solid #ffffff;
  border-top-style: none;
  border-left-style: none;

  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.breadcrumbs li::after {
  top: 6px;
  right: 7px;
}

.breadcrumbs .breadcrumbs-active::before,
.breadcrumbs .breadcrumbs-active::after {
  visibility: hidden;
}

.main-title {
  margin: 0;
  margin-top: -3px;

  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.filter {
  margin-top: 11px;
}

.filter-group {
  display: inline-block;
  margin-top: 11px;
  margin-right: 11px;

  font-weight: 500;
  vertical-align: top;
  color: #ffffff;
}

.filter-group:nth-of-type(3) {
  margin-right: 0;
}

.filter-group:nth-of-type(4) {
  margin-right: 8px;
}

.filter-group label[for="sorting-field"],
.filter-text {
  margin-left: 15px;

  font-size: 14px;
  line-height: 16px;
}

.filter-group label[for="sorting-field"] {
  cursor: default;
}

.filter-group select,
.filter-form-price-range-pict,
.fat-wrap,
.filler-taste-wrap,
.btn-filter {
  min-height: 36px;
  margin-top: 5px;
  box-sizing: border-box;

  background-color: rgba(255, 255, 255, .2);
  border: none;
  border-radius: 100px;
}

.filter-group select:hover {
  color: #000000;

  background-color: #ffffff;
}

.filter-form-price-range-pict {
  width: 218px;
}

.filter-group select {
  display: block;
  width: 193px;
  padding: 7px 0px 7px 10px;

  text-transform: lowercase;
}

.filter-group select,
.filter-group label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  cursor: pointer;
}

.filter-form-price-range-pict {
  position: relative;
}

.filter-form-price-range-main-scale,
.filter-form-price-range-diapason {
  position: absolute;
  top: 16px;

  height: 3px;
}

.filter-form-price-range-main-scale {
  right: 16px;
  left: 16px;

  background-color: rgba(255, 255, 255, .5);
}

.filter-form-price-range-diapason {
  right: 66px;
  left: 34px;

  background-color: #ffffff;
}

.filter-form-price-range-low,
.filter-form-price-range-high {
  position: absolute;
  top: 8px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

.filter-form-price-range-low:hover,
.filter-form-price-range-high:hover {
  cursor: pointer;

  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.filter-form-price-range-low {
  left: 34px;
}

.filter-form-price-range-high {
  right: 66px;
}

.fat-wrap {
  min-width: 415px;
  padding: 9px 16px 9px 17px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.fat-wrap input {
  display: none;
}

.fat-wrap label {
  position: relative;
  margin-right: 15px;
  padding-left: 30px;

  text-transform: lowercase;
}

.fat-wrap label:last-of-type {
  margin-right: 0;
}

.fat-wrap label::before,
.fat-wrap label::after {
  content: "";
  position: absolute;

  box-sizing: border-box;

  border-radius: 50%;
}

.fat-wrap label::before {
  top: 0px;
  left: 0px;

  width: 20px;
  height: 20px;

  border: 1px solid #ffffff;
}

.fat-wrap label::after {
  top: 5px;
  left: 5px;

  width: 10px;
  height: 10px;

  border-radius: 50%;

  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.fat-wrap input:checked + label:after {
  background-color: #ffffff;

  -webkit-transform: scale(1);
          transform: scale(1);
}

.filter-group label:hover::before,
.filter-group input + label:hover::before {
  border: 2px solid #ffffff;
}

.fat-wrap input:disabled + label::before {
  border: 1px solid #ffffff;
}

.fat-wrap input:checked:disabled + label::after {
  background-color: #ffffff;
}

.fat-wrap input:disabled + label {
  opacity: .4;
  cursor: default;
}

.filter-group label:disabled::before,
.filter-group input + label:disabled::before {
  border-color: rgba(255, 255, 255, .4);
}

.filler-taste-wrap {
  padding: 6px 19px 8px 15px;

  text-transform: lowercase;
}

.filler-taste-wrap input {
  display: none;
}

.filler-taste-wrap label {
  position: relative;
  margin-right: 21px;
  padding-left: 29px;
}

.filler-taste-wrap label:last-of-type {
  margin: 0;
}

.filler-taste-wrap label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;
  box-sizing: border-box;

  border: 1px solid #ffffff;
  border-radius: 5px;
}

.filler-taste-wrap label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;

  width: 10px;
  height: 5px;

  border: 2px solid #ffffff;
  border-top: none;
  border-right: none;

  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transform: scale(.01);
          transform: scale(.01);
}

.filler-taste-wrap input:checked + label::after {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform: rotate(-45deg) scale(1);
          transform: rotate(-45deg) scale(1);
}

.filler-taste-wrap input:disabled + label::before {
  border: 1px solid #ffffff;
}

.filler-taste-wrap input:checked:disabled + label::after {
  border: 2px solid #ffffff;
  border-top: none;
  border-right: none;
}

.filler-taste-wrap input:disabled + label {
  opacity: .4;
  cursor: default;
}

.btn-filter {
  min-width: 144px;
  margin-right: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  vertical-align: bottom;
  color: #ffffff;

  border: 2px solid #ffffff;
  cursor: pointer;

  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.btn-filter:hover {
  color: #000000;

  background-color: #ffffff;
}

.btn-filter:active {
  color: #000000;

  background-color: #ffffff;
  box-shadow: inset 0 2px 1px #696969;
}

.catalog {
  margin-bottom: 20px;

  font-size: 0;
}

.catalog-item {
  position: relative;
  z-index: 0;

  display: inline-block;
  width: 23.27%;
  min-height: 275px;
  margin-top: 40px;
  margin-right: 2.3%;

  font-size: 16px;
  vertical-align: top;
}

img {
  max-width: 100%
}

.over-block {
  position: absolute;
  top: -9px;
  left: -5%;
  z-index: -1;

  width: 110%;
  height: 133%;
  box-sizing: border-box;

  background: rgba(255, 255, 255, .3);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
  opacity: 0;
  visibility: hidden;

  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.catalog-item:hover .over-block,
.catalog-item:hover .btn {
  opacity: 1;
  visibility: visible;
}

.catalog-item:hover {
  z-index: 5;
}

.catalog-item img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.catalog-item-hit:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background: url("../img/sprites.png") no-repeat -123px 0;
}

.catalog-item:nth-of-type(4n) {
  margin-right: 0;
}

.price {
  position: relative;
  top: -63px;

  font-weight: 600;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;

  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.measure {
  font-size: 30px;
}

.measure::before {
  content: "";
  left: -10px;

  display: inline-block;
  width: 35px;
  height: 35px;

  text-align: top;
  vertical-align: baseline;

  background: url("../img/sprites.png") no-repeat -184px 2px;
}

.catalog-item-title {
  margin-top: -43px;
  margin-bottom: -0px;
  padding-right: 5px;
  padding-left: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.catalog-item-title span {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.catalog-item:hover span {
  border: none;
}

.catalog-item:hover .catalog-item-title {
  text-decoration: none;
}

.catalog-item .btn {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;

  width: 200px;
  margin: auto;
  padding: 11px 14px 10px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 24px;

  opacity: 0;
  visibility: hidden;
}

.pagination {
  margin-top: 79px;
  margin-bottom: 29px;

  text-align: right;
  vertical-align: top;
}

.pagination a {
  display: inline-block;
  padding: 0 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  vertical-align: top;
  color: #ffffff;

  border-radius: 100px;
  text-decoration: none;
}

.pagination a:hover {
  background-color: rgba(255, 255, 255, .2);
}

.pagination a:active {
  color: #000000;

  background-color: #ffffff;
}

.pagination .current,
.pagination .current:hover {
  color: #000000;

  background-color: #ffffff;
}

.prev,
.next {
  position: relative;
  min-width: 9px;

  overflow: hidden;
  text-indent: -100px;
}

.prev:active::after,
.next:active::after {
  content: "";
  position: absolute;
  top: 9px;

  display: block;
  width: 7px;
  height: 7px;

  border: 2px solid #000000;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
}

.prev::before,
.next::before {
  content: "";
  position: absolute;
  top: 8px;

  display: block;
  width: 7px;
  height: 7px;

  border: 2px solid #ffffff;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
}

.prev::before,
.prev:active.prev::after {
  left: 10px;

  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.next::before,
.next:active.next::after  {
  right: 9px;

  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.disabled::before,
.disabled {
  opacity: .5;
}

.pagination .disabled:hover {
  background-color: rgba(255, 255, 255, 0);
}

.features {
  margin-top: 37px;
  margin-bottom: 40px;
  padding: 24px 17px 24px 19px;

  background: #efe2c7 url("../img/features-background.jpg");
  border-radius: 15px;
}

.features-title {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.features-wrapper {
  margin-top: 10px;
}

.features-item {
  position: relative;

  float: left;
  width: 48.85%;
  padding-top: 12px;
  padding-left: 56px;
  box-sizing: border-box;
}

.features-item:first-of-type {
  margin-right: 2.3%;
}

.features-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 49px;
  height: 49px;

  background: url("../img/sprites.png") no-repeat;
}

.feature-tested::before {
  background-position: -1px -121px;
}

.feature-quality::before {
  background-position: -51px -121px;
}

.feature-natural::before {
  background-position: -100px -120px;
}

.feature-safety::before {
  background-position: -150px -120px;
}

.features-item:last-of-type {
  float: right;
  padding-right: 5px;
}

.features-text {
  margin: 0;
}

.news-wrapper {
  margin-bottom: 40px;
}

.news,
.subscribe {
  width: 48.85%;
  min-height: 220px;
  box-sizing: border-box;

  border-radius: 15px;
}

.news {
  float: left;
  margin-right: 2.3%;
  padding-top: 23px;
  padding-left: 18px;

  background: #ffffff url("../img/news.jpg") no-repeat right -30px top -29px;
}

.news-title {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.news-link-wrapper {
  width: 300px;
}

.news-link {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #353535;

  background-color: rgba(255, 255, 255, .8);
}

.subscribe {
  float: right;
  padding: 5px;

  background-color: #ffffff;
  background-image: -webkit-repeating-linear-gradient(135deg, #ffffff 7px, #fe9e90 7px, #fe9e90 14px, #ffffff 14px, #ffffff 21px, #92cdff 21px, #92cdff 28px, #ffffff 28px, #ffffff 35px);
  background-image: repeating-linear-gradient(-45deg, #ffffff 7px, #fe9e90 7px, #fe9e90 14px, #ffffff 14px, #ffffff 21px, #92cdff 21px, #92cdff 28px, #ffffff 28px, #ffffff 35px);
}

.subscribe-wrapper {
  position: relative;

  min-height: 152px;
  padding: 29px 21px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 60px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.subscribe-wrapper input[type="email"] {
  width: 100%;
  height: 44px;
}

.subscribe-form {
  position: absolute;
  left: 0;
  bottom: 35px;

  width: 100%;
  padding-right: 159px;
  padding-left: 21px;
  box-sizing: border-box;
}

.subscribe-form label[for="subscribe-email-field"] {
  position: absolute;
  bottom: 10px;
  left: 35px;
}

.subscribe-form .btn {
  position: absolute;
  right: 20px;
  bottom: 0;

  max-width: 128px;
  padding: 10px 16px 11px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

input[type="email"]:focus ~ label[for="subscribe-email-field"],
input[type="email"]:valid:not(:focus) ~ label[for="subscribe-email-field"]{
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.map {
  width: 100%;
  min-height: 428px;
  margin-right: auto;
  margin-left: auto;

  font-size: 50px;

  background: #999999 url("../img/map.jpg") no-repeat center;
}

.map iframe {
  width: 100%;
  height: 428px;
  border: 0;
}

.main-footer {
  position: relative;
  min-height: 104px;
  margin-right: 2.3%;
  margin-left: 2.3%;
  padding-top: 19px;
  box-sizing: border-box;

  text-align: center;

  border-top: 1px solid rgba(255, 255, 255, .3);
}

.main-contacts {
  position: absolute;
  top: -368px;
  right: 0;

  width: 302px;
  padding: 30px 0 32px 26px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #323232;

  background-color: #fefefe;
  border-radius: 15px;
}

.main-contacts b {
  display: block;
  margin-top: 1px;

  font-size: 18px;
  line-height: 24px;
}

.main-contacts b:first-of-type {
  margin-bottom: 18px;
}

.main-contacts b:last-of-type {
  display: block;
  margin-top: 4px;
  margin-bottom: 2px;

  font-size: 18px;
  line-height: 24px;
}

.main-contacts .btn {
  max-width: 198px;
  margin-top: 24px;
  padding: 9px 28px 11px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.main-footer > div {
  min-height: 60px;
  box-sizing: border-box;
}

.footer-social {
  float: left;
  width: 230px;
  padding-top: 17px;

  text-align: left;
}

.social {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 7px;
  box-sizing: border-box;

  vertical-align: middle;

  background: url("../img/sprites.png") no-repeat;
  border: 3px solid rgba(255, 255, 255, .625);
  border-radius: 50%;
  opacity: .8;

  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.social:last-of-type {
  margin: 0;
}

.social-tw {
  background-position: -50px -80px;
}

.social-inst {
  background-position: -100px -80px;
}

.social-fb {
  background-position: -150px -80px;
}

.social-vk {
  background-position: 0px -80px;
}

.social:hover {
  opacity: 1;
}

.social:active {
  box-shadow: inset 0 2px 1px #888888;
  opacity: .8;
}

.footer-links {
  display: inline-block;
  width: 405px;
  padding-top: 12px;

  font-size: 13px;
  text-align: left;
  vertical-align: top;
}

.footer-links-part {
  display: inline-block;
  width: 150px;
  margin-right: 21px;
  box-sizing: border-box;

  vertical-align: top;
}

.footer-links-part:first-of-type {
  position: relative;

  padding-left: 31px;
}

.footer-links-part:last-of-type {
  width: 170px;
}

.link-text {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;

  text-decoration: none;
}

.link-text,
.copyright a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, .2);
  text-decoration: none;
}

.link-text:hover,
.link-text:active,
.copyright a:hover,
.copyright a:active {
  color: #ffbc9e;

  border-color: rgba(255, 188, 158, .3);
}

.heart-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 9px;

  width: 15px;
  height: 15px;

  background: url("../img/sprites.png") no-repeat -100px 0px;
}

.copyright {
  position: relative;

  float: right;
  width: 190px;
  padding-top: 42px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.footer-logo::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 3px;

  width: 108px;
  height: 38px;

  background: url("../img/footer-logo.png") no-repeat;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  display: none;
  width: 100%;
  height: 100%;

  background: #000000;
  opacity: 0;
}

.overlay-appear {
  display: block;

  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.feedback-form {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  width: 478px;
  min-height: 442px;
  padding: 19px 25px 0px;

  background: #f8f7f4;
  border-radius: 5px;

  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-show {
  display: block;

  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.feedback-form-invalid {
  -webkit-animation-name: invalid;
          animation-name: invalid;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
}

.close {
  position: absolute;
  top: 11px;
  right: 10px;

  width: 24px;
  height: 24px;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0px;

  width: 25px;
  height: 2px;

  background-color: #000000;
}

.close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg)
}

.close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback-title {
  margin: 0;
  margin-bottom: 23px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-form input {
  display: block;
  width: 267px;
  margin-bottom: 24px;
}

.feedback-form textarea {
  width: 100%;
  min-height: 155px;
  margin-bottom: 25px;
}

.feedback-form label {
  position: absolute;
  left: 40px;

  margin-top: -57px;
}

.feedback-form label[for="comments-field"] {
  position: absolute;

  top: 269px;
}

.feedback-form .btn {
  display: block;
  margin: 0;
  margin-left: auto;
  margin-bottom: 23px;
}

.inner-page .feedback-form {
  position: static;

  display: block;
  width: 478px;
  min-height: 442px;
  margin: 100px auto;
  padding: 19px 25px 0px;

  background: #f8f7f4;
  border-radius: 5px;

  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

@-webkit-keyframes show {
  from {
    opacity: 0;

    -webkit-transform: translate(-50%, -50%) scale(.2);
            transform: translate(-50%, -50%) scale(.2);
  }

  to {
    opacity: 1;

    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes show {
  from {
    opacity: 0;

    -webkit-transform: translate(-50%, -50%) scale(.2);
            transform: translate(-50%, -50%) scale(.2);
  }

  to {
    opacity: 1;

    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;

    -webkit-transform: scale(.5);
            transform: scale(.5);
  }

  to {
    opacity: .5;

    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  from {
    opacity: 0;

    -webkit-transform: scale(.5);
            transform: scale(.5);
  }

  to {
    opacity: .5;

    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes invalid {
  0, 100% {
    -webkit-transform: translate(-50%, -50%) translate(0, 0);
            transform: translate(-50%, -50%) translate(0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(-50%, -50%) translate(-10px, 0);
            transform: translate(-50%, -50%) translate(-10px, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate(-50%, -50%) translate(10px, 0);
            transform: translate(-50%, -50%) translate(10px, 0);
  }
}

@keyframes invalid {
  0, 100% {
    -webkit-transform: translate(-50%, -50%) translate(0, 0);
            transform: translate(-50%, -50%) translate(0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate(-50%, -50%) translate(-10px, 0);
            transform: translate(-50%, -50%) translate(-10px, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate(-50%, -50%) translate(10px, 0);
            transform: translate(-50%, -50%) translate(10px, 0);
  }
}
